// Override / set color variables
$blue: #3399ff;
$orange: #f26c22;
$amarillo: #e7c047;
$primario: #a13a4b;
$claro: #f7ebf1;

$primary:   $primario;
$info:      $claro;
$warning:   $amarillo;
$danger:    $primario;

$color_tabla: #ecc3c7;
.table-striped {
    tbody tr:nth-of-type(#{odd}) {
      background-color: $color_tabla !important;
    }
  }